QryptoCard.API.Admin/Connected Services/DashboardV1Service/DashboardV1Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/DashboardV1Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" />
  <xs:element name="getDashboardData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="a" nillable="true" type="q1:DashboardAdminModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDashboardDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getDashboardDataResult" nillable="true" type="q2:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get10ActiveCardTransaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get10ActiveCardTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="get10ActiveCardTransactionResult" nillable="true" type="q3:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>