QryptoCard.API.Callback/Connected Services/CallbackV1Service/CallbackV1Service32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61205/Service/v1/CallbackV1Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Callback.Model.PGCrypto" />
  <xs:element name="testDecrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testDecryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testDecryptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Wasabi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sign" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="req" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="a" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WasabiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PGCrypto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Callback.Model.PGCrypto" minOccurs="0" name="x" nillable="true" type="q1:PGCryptoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PGCryptoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recreateCallback">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recreateCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="reTopup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reTopupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>