QryptoCard.API.Callback/Connected Services/CallbackV1Service/CallbackV1Service31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Callback.Model.PGCrypto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Callback.Model.PGCrypto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PGCryptoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Coin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoinID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Commision" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommisionInPercentage" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateExpired" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NetworkType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartnerReferenceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isPaid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isToken" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PGCryptoModel" nillable="true" type="tns:PGCryptoModel" />
</xs:schema>