QryptoCard.API.Public/Connected Services/CardV1Service/CardV1Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OutputModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutputModel" nillable="true" type="tns:OutputModel" />
  <xs:complexType name="CardBalanceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardBalanceModel" nillable="true" type="tns:CardBalanceModel" />
</xs:schema>