QryptoCard.API/Connected Services/UserV1Service/UserV1Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QryptoCard.INT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="tblM_User">
    <xs:sequence>
      <xs:element minOccurs="0" name="BannedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Date2FA" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateActivated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateBanned" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateInvited" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateJoin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateVerified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvitedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profession" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterVia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbnailURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCard" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="is2FA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isBanned" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isVerified" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblM_User" nillable="true" type="tns:tblM_User" />
  <xs:complexType name="tblH_User_Register">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateExpired" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMEI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isVerify" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblH_User_Register" nillable="true" type="tns:tblH_User_Register" />
  <xs:complexType name="tblH_User_Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateExpired" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMEI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isVerify" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblH_User_Login" nillable="true" type="tns:tblH_User_Login" />
  <xs:complexType name="tblT_User_ForgotPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateDeleted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Param1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isVerified" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblT_User_ForgotPassword" nillable="true" type="tns:tblT_User_ForgotPassword" />
  <xs:complexType name="tblH_User_OTP">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateExpired" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IMEI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OTPID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isVerify" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblH_User_OTP" nillable="true" type="tns:tblH_User_OTP" />
  <xs:complexType name="tblM_User_2FA">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="ManualEntryKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblM_User_2FA" nillable="true" type="tns:tblM_User_2FA" />
  <xs:complexType name="tblM_User_Referral">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateDeleted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Param1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Param5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblM_User_Referral" nillable="true" type="tns:tblM_User_Referral" />
  <xs:complexType name="tblM_User_Balance">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BalanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isActive" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblM_User_Balance" nillable="true" type="tns:tblM_User_Balance" />
</xs:schema>