QryptoCard.API/Connected Services/UserV1Service/UserV1Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DashboardModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountSpentThisMonth" type="xs:double" />
      <xs:element minOccurs="0" name="CommissionRate" type="xs:double" />
      <xs:element minOccurs="0" name="TotalCards" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCommission" type="xs:double" />
      <xs:element minOccurs="0" name="TotalTopupTransaction" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DashboardModel" nillable="true" type="tns:DashboardModel" />
  <xs:complexType name="OutputModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutputModel" nillable="true" type="tns:OutputModel" />
  <xs:complexType name="PasswordChangeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordChangeModel" nillable="true" type="tns:PasswordChangeModel" />
</xs:schema>