QryptoCard.API.Admin/Connected Services/CardV1Service/CardV1Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/CardV1Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT" />
  <xs:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/CardV1Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" />
  <xs:element name="CardType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q1:tblM_Card_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="CardTypeResult" nillable="true" type="q2:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCardTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q3:tblM_Card_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCardTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getCardTypeByIdResult" nillable="true" type="q4:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getActiveCard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getActiveCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getActiveCardResult" nillable="true" type="q5:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCardListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q6:vw_Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCardListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getCardListAllResult" nillable="true" type="q7:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCardPurchaseFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="em" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="fil" nillable="true" type="q8:CardFilterModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCardPurchaseFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getCardPurchaseFilterResult" nillable="true" type="q9:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepositTrxFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="em" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="fil" nillable="true" type="q10:DepositFilterModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepositTrxFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getDepositTrxFilterResult" nillable="true" type="q11:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCardPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q12:tblM_Card_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCardPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="updateCardPriceResult" nillable="true" type="q13:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCardDepositFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q14:tblM_Card_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCardDepositFeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="updateCardDepositFeeResult" nillable="true" type="q15:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>