QryptoCard.API.Admin/Connected Services/CardV1Service/CardV1Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CardV1Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/CardV1Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/CardV1Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/CardV1Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT" />
      <xsd:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/CardV1Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICardV1Service_CardType_InputMessage">
    <wsdl:part name="parameters" element="tns:CardType" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_CardType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CardTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_getCardTypeById_InputMessage">
    <wsdl:part name="parameters" element="tns:getCardTypeById" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_getCardTypeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCardTypeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_getActiveCard_InputMessage">
    <wsdl:part name="parameters" element="tns:getActiveCard" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_getActiveCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:getActiveCardResponse" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_getCardListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getCardListAll" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_getCardListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCardListAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_getCardPurchaseFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:getCardPurchaseFilter" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_getCardPurchaseFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCardPurchaseFilterResponse" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_getDepositTrxFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepositTrxFilter" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_getDepositTrxFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepositTrxFilterResponse" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_updateCardPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCardPrice" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_updateCardPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCardPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_updateCardDepositFee_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCardDepositFee" />
  </wsdl:message>
  <wsdl:message name="ICardV1Service_updateCardDepositFee_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCardDepositFeeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICardV1Service">
    <wsdl:operation name="CardType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardV1Service/CardType" message="tns:ICardV1Service_CardType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICardV1Service/CardTypeResponse" message="tns:ICardV1Service_CardType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCardTypeById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardV1Service/getCardTypeById" message="tns:ICardV1Service_getCardTypeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICardV1Service/getCardTypeByIdResponse" message="tns:ICardV1Service_getCardTypeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getActiveCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardV1Service/getActiveCard" message="tns:ICardV1Service_getActiveCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICardV1Service/getActiveCardResponse" message="tns:ICardV1Service_getActiveCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCardListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardV1Service/getCardListAll" message="tns:ICardV1Service_getCardListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICardV1Service/getCardListAllResponse" message="tns:ICardV1Service_getCardListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCardPurchaseFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardV1Service/getCardPurchaseFilter" message="tns:ICardV1Service_getCardPurchaseFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICardV1Service/getCardPurchaseFilterResponse" message="tns:ICardV1Service_getCardPurchaseFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDepositTrxFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardV1Service/getDepositTrxFilter" message="tns:ICardV1Service_getDepositTrxFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICardV1Service/getDepositTrxFilterResponse" message="tns:ICardV1Service_getDepositTrxFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCardPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardV1Service/updateCardPrice" message="tns:ICardV1Service_updateCardPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICardV1Service/updateCardPriceResponse" message="tns:ICardV1Service_updateCardPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCardDepositFee">
      <wsdl:input wsaw:Action="http://tempuri.org/ICardV1Service/updateCardDepositFee" message="tns:ICardV1Service_updateCardDepositFee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICardV1Service/updateCardDepositFeeResponse" message="tns:ICardV1Service_updateCardDepositFee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICardV1Service" type="tns:ICardV1Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CardType">
      <soap:operation soapAction="http://tempuri.org/ICardV1Service/CardType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardTypeById">
      <soap:operation soapAction="http://tempuri.org/ICardV1Service/getCardTypeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveCard">
      <soap:operation soapAction="http://tempuri.org/ICardV1Service/getActiveCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardListAll">
      <soap:operation soapAction="http://tempuri.org/ICardV1Service/getCardListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardPurchaseFilter">
      <soap:operation soapAction="http://tempuri.org/ICardV1Service/getCardPurchaseFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepositTrxFilter">
      <soap:operation soapAction="http://tempuri.org/ICardV1Service/getDepositTrxFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCardPrice">
      <soap:operation soapAction="http://tempuri.org/ICardV1Service/updateCardPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCardDepositFee">
      <soap:operation soapAction="http://tempuri.org/ICardV1Service/updateCardDepositFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CardV1Service">
    <wsdl:port name="BasicHttpBinding_ICardV1Service" binding="tns:BasicHttpBinding_ICardV1Service">
      <soap:address location="http://localhost:50434/Script/Service/Admin/v1/CardV1Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>