QryptoCard.API.Admin/Connected Services/AdminV1Service/AdminV1Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/AdminV1Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT" />
  <xs:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/AdminV1Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q1:tblM_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="LoginResult" nillable="true" type="q2:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginVerify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q3:tblH_Admin_Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginVerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="LoginVerifyResult" nillable="true" type="q4:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regenerateOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q5:tblH_Admin_Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regenerateOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="regenerateOTPResult" nillable="true" type="q6:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q7:vw_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewAdminResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="forgotPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q8:tblM_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="forgotPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="forgotPasswordResult" nillable="true" type="q9:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkForgotPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q10:tblT_Admin_ForgotPassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkForgotPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="checkForgotPasswordResult" nillable="true" type="q11:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q12:tblT_Admin_ForgotPassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="changePasswordResult" nillable="true" type="q13:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdminFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="em" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="fil" nillable="true" type="q14:AdminFilterModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdminFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getAdminFilterResult" nillable="true" type="q15:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdminDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="em" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="fil" nillable="true" type="q16:tblM_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdminDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getAdminDetailResult" nillable="true" type="q17:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="em" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q18:tblM_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="addAdminResult" nillable="true" type="q19:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvitedAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q20:tblM_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvitedAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getInvitedAdminResult" nillable="true" type="q21:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateInvitedAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q22:tblM_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateInvitedAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="updateInvitedAdminResult" nillable="true" type="q23:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="banAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="em" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q24:tblM_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="banAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="banAdminResult" nillable="true" type="q25:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testEmail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdminData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdminDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getAdminDataResult" nillable="true" type="q26:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAdminData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q27:tblM_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAdminDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="updateAdminDataResult" nillable="true" type="q28:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="x" nillable="true" type="q29:PasswordChangeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="updatePasswordResult" nillable="true" type="q30:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmailOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q31:tblM_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmailOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="updateEmailOTPResult" nillable="true" type="q32:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="em" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q33:tblH_Admin_OTP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="updateEmailResult" nillable="true" type="q34:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>