QryptoCard.API.Admin/Connected Services/AdminV1Service/AdminV1Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OutputModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutputModel" nillable="true" type="tns:OutputModel" />
  <xs:complexType name="AdminFilterModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isVerified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminFilterModel" nillable="true" type="tns:AdminFilterModel" />
  <xs:complexType name="PasswordChangeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordChangeModel" nillable="true" type="tns:PasswordChangeModel" />
</xs:schema>