QryptoCard.API.Admin/Connected Services/UserV1Service/UserV1Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/UserV1Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT" />
  <xs:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/UserV1Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" />
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q1:tblM_User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getUserResult" nillable="true" type="q2:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCommissionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q3:vw_User_Commission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCommissionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getUserCommissionListResult" nillable="true" type="q4:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserCommission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q5:tblM_User_Commission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserCommissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="updateUserCommissionResult" nillable="true" type="q6:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserFeeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q7:vw_User_Fee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserFeeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="getUserFeeListResult" nillable="true" type="q8:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QryptoCard.INT" minOccurs="0" name="x" nillable="true" type="q9:tblM_User_Fee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserFeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" minOccurs="0" name="updateUserFeeResult" nillable="true" type="q10:OutputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>