QryptoCard.API.Admin/Connected Services/UserV1Service/UserV1Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserV1Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/UserV1Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/UserV1Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/UserV1Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT" />
      <xsd:import schemaLocation="http://localhost:50434/Script/Service/Admin/v1/UserV1Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QryptoCard.INT.Model.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserV1Service_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IUserV1Service_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserV1Service_getUserCommissionList_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserCommissionList" />
  </wsdl:message>
  <wsdl:message name="IUserV1Service_getUserCommissionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserCommissionListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserV1Service_updateUserCommission_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUserCommission" />
  </wsdl:message>
  <wsdl:message name="IUserV1Service_updateUserCommission_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserCommissionResponse" />
  </wsdl:message>
  <wsdl:message name="IUserV1Service_getUserFeeList_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserFeeList" />
  </wsdl:message>
  <wsdl:message name="IUserV1Service_getUserFeeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserFeeListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserV1Service_updateUserFee_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUserFee" />
  </wsdl:message>
  <wsdl:message name="IUserV1Service_updateUserFee_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserFeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserV1Service">
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserV1Service/getUser" message="tns:IUserV1Service_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserV1Service/getUserResponse" message="tns:IUserV1Service_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserCommissionList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserV1Service/getUserCommissionList" message="tns:IUserV1Service_getUserCommissionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserV1Service/getUserCommissionListResponse" message="tns:IUserV1Service_getUserCommissionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUserCommission">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserV1Service/updateUserCommission" message="tns:IUserV1Service_updateUserCommission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserV1Service/updateUserCommissionResponse" message="tns:IUserV1Service_updateUserCommission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserFeeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserV1Service/getUserFeeList" message="tns:IUserV1Service_getUserFeeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserV1Service/getUserFeeListResponse" message="tns:IUserV1Service_getUserFeeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUserFee">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserV1Service/updateUserFee" message="tns:IUserV1Service_updateUserFee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserV1Service/updateUserFeeResponse" message="tns:IUserV1Service_updateUserFee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserV1Service" type="tns:IUserV1Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IUserV1Service/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserCommissionList">
      <soap:operation soapAction="http://tempuri.org/IUserV1Service/getUserCommissionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserCommission">
      <soap:operation soapAction="http://tempuri.org/IUserV1Service/updateUserCommission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserFeeList">
      <soap:operation soapAction="http://tempuri.org/IUserV1Service/getUserFeeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserFee">
      <soap:operation soapAction="http://tempuri.org/IUserV1Service/updateUserFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserV1Service">
    <wsdl:port name="BasicHttpBinding_IUserV1Service" binding="tns:BasicHttpBinding_IUserV1Service">
      <soap:address location="http://localhost:50434/Script/Service/Admin/v1/UserV1Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>